<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora de pension</title>

  <!--CSS Boostrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="app" class="pension-calculator">
      <div class="container">
        <div class="tabs">

          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="tab nav-calculate" role="presentation">
              <img src="assets/images/bg_cal_azul.png" alt="image calculate img" id="pills-calculate-tab" data-bs-toggle="pill" data-bs-target="#pills-calculate" type="button" role="tab" aria-controls="pills-calculate">
            </li>
            <li class="tab nav-result" role="presentation">
              <img src="assets/images/bg_cal_naranja.png" alt="image calculate results" id="pills-result-tab" data-bs-toggle="pill" data-bs-target="#pills-result" type="button" role="tab" aria-controls="pills-result">
            </li>
            <li class="tab nav-important" role="presentation">
              <img src="assets/images/bg_cal_amarillo.png" alt="image important information" id="pills-important-tab" data-bs-toggle="pill" data-bs-target="#pills-important" type="button" role="tab" aria-controls="pills-important">
            </li> 
          </ul>

        </div>
        
        <div class="form-container">            
            <div class="tab-content" id="pills-tabContent">

              <div class="tab-pane fade" v-bind:class="{ 'show active': formTab}" id="pills-calculate" role="tabpanel" aria-labelledby="pills-calculate-tab">
                <div class="calculate-content mt-3">
                  <div class="message-validations">
                    <p v-if="messageErrors" class="text-center">{{ validateField }}</p>
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num1.jpg" alt=""></div>
                      <p class="text">Monto acumulado CCI a último Estado de cuenta</p>
                    </div>
                    <input class="input-form" v-bind:class="{ 'validation-error-input': inputErrorValidation}" type="text" v-model="accumulatedSalary" placeholder="0" v-on:keypress="isNumber()" />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num2.jpg" alt=""></div>
                      <p class="text">Salario Actual</p>
                    </div>
                    <input class="input-form" v-bind:class="{ 'validation-error-input': inputErrorValidation}" type="text" v-model="currentSalary" v-on:keypress="isNumber()" />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num3.jpg" alt=""></div>
                      <p class="text">Edad Actual</p>
                    </div>
                    <input class="input-form" v-bind:class="{ 'validation-error-input': inputErrorValidation}" type="text" v-model="currentAge" v-on:keypress="isNumber()" />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num4.jpg" alt=""></div>
                      <p class="text">Género</p>
                    </div>
                    <div class="genre-radio-button">
                      <input v-model="gender" class="sex_radio" id="male" name="male" type="radio" value="M" />
                      <span>M</span>
                      <input class="sex_radio" v-model="gender" id="female" name="female" type="radio" value="F" />
                      <span>F</span>
                    </div>
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num5.jpg" alt=""></div>
                      <p class="text">Edad deseada de retíro</p>
                    </div>
                    <input class="input-form" v-bind:class="{ 'validation-error-input': inputErrorValidation}" type="text" v-model="desiredRetirementAge" v-on:keypress="isNumber()" />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num6.jpg" alt=""></div>
                      <p class="text">Porcentaje extra guardado al mes para el retiro</p>
                    </div>
                    <input class="input-form" type="text" v-model="extraPercentageSaved" placeholder="0" v-on:keypress="isNumber()" />
                  </div>

                  <div class="buttons">
                    <input class="btn" type="button" value="Calcular" @click="calculatePension()" />
                    <input class="btn" type="button" value="Limpiar" @click="cleanFields()" />
                    <a href=""><input class="btn" type="button" value="Volver al menú" /></a>
                  </div>

                </div>
              </div>

              <div class="tab-pane fade" v-bind:class="{ 'show active': showTab}" id="pills-result" role="tabpanel" aria-labelledby="pills-result-tab">
                <div class="calculate-content mt-5">
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num1.jpg" alt=""></div>
                      <p class="text">	Monto Constitutivo a la fecha de retiro</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num2.jpg" alt=""></div>
                      <p class="text">Monto Constitutivo a la fecha de retiro con aportes voluntarios</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num3.jpg" alt=""></div>
                      <p class="text">Ultimo salario</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num4.jpg" alt=""></div>
                      <p class="text">Monto pensión mensual</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num5.jpg" alt=""></div>
                      <p class="text">Monto pensión mensual con aportes voluntarios</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num6.jpg" alt=""></div>
                      <p class="text">Tasa de reemplazo (%)</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>
                  <div class="box">
                    <div class="box-icon-text">
                      <div class="icon"><img src="assets/icons/num7.jpg" alt=""></div>
                      <p class="text">	Tasa de reemplazo con aportes voluntarios (%)</p>
                    </div>
                    <input class="input-form" type="text"  />
                  </div>

                  <div class="buttons">
                    <input class="btn" type="button" value="Recalcular" />
                    <input class="btn" type="button" value="Volver al menú" />
                  </div>

                </div>
              </div>

              <div class="tab-pane fade" id="pills-important" role="tabpanel" aria-labelledby="pills-important-tab">
                <div class="important-information-content">
                  <div class="text-information">
                    <h4 class="title">Información importante</h4>
                    <p class="text-description">
                      Los resultados presentados en esta calculadora son un estimado basado en los siguientes supuestos:
                      <br /><br />
                      La rentabilidad real es de 5% anual, de acuerdo a la Circular 77-11 de la Superintendencia de Pensiones, que establece la tasa de interés técnica y las tablas de mortalidad que utilizarán las AFP y las Compañías de Seguro para el cálculo del Retiro Programado y las Rentas Vitalicias. Sustituye las Circulares 74-10,73-10,16-03 y 15-03
                      <br /><br />
                      Aumento real del sueldo: 1% anual.
                      <br /><br />
                      El afiliado trabajará, desde la edad actual hasta el momento de retiro sin interrupciones.
                      <br /><br />
                      El salario mínimo cotizable es de RD$13,482.00 y el salario máximo cotizable es de RD$ 269,640.00, según lo establecido en la Resolución 371-04 CNSS del 03 de Septiembre del 2015, emitida por el Consejo Nacional de Seguridad Social (CNSS), y el artículo 57 de la Ley 87-01 que define el límite mínimo y máximo del salario cotizable.
                    </p>
                    <h4 class="title mt-5">Glosario de términos</h4>
                    <p class="text-description">
                      Monto acumulado CCI a último Estado de Cuenta: es el saldo total que el afiliado tiene en su Cuenta de Capitalización Individual, este dato se presenta en el estado de cuenta enviado semestralmente por su AFP.
                      <br /><br />
                      Monto Constitutivo a la fecha de Retiro: es el saldo estimado que tendrá el afiliado en su Cuenta de Capitalización Individual (CCI) a la edad de retiro.
                      <br /><br />
                      Monto Constitutivo a la fecha de Retiro con Aportes Voluntarios: es el saldo estimado que tendrá el afiliado en su Cuenta de Capitalización Individual (CCI) a la edad de retiro, tomando en cuenta los aportes voluntarios (en caso que aplique).
                      <br /><br />
                      Monto Pensión Mensual: es el monto estimado de pensión que recibirá el afiliado mensualmente.
                      <br /><br />
                      Monto Pensión Mensual con Aportes Voluntarios: es el monto estimado de pensión que recibirá mensualmente el afiliado tomando en cuenta los aportes voluntarios (en caso que aplique).
                      <br /><br />
                      Tasa de Reemplazo: es el porcentaje que representa la pensión mensual respecto al salario estimado al momento de retiro.
                      <br /><br />
                      Tasa de Reemplazo con Aportes Voluntarios: es el porcentaje que representa la pensión mensual respecto al salario estimado al momento de retiro tomando en cuenta los aportes voluntarios (en caso que aplique).
                    </p>
                  </div>
                </div>
              </div>

            </div>
        </div>

      </div>
  </div>

  <!--Scripts Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

  <!--Script Vue JS-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>

</body>
</html>