.btn-calculate{
  .btn{
    &.btn-primary{
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 16px;
      background: $secundary;
      color: #ffffff;
    }
  }
}
.button-menu{
  text-align: center;
  .btn-menu{
    font-weight: bold;
    padding: 5px 8px;
    font-size: 16px;
    margin-top: 8px;
    background: $secundary;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
}