.contribution-calculator {
  .header-container {
    .line {
      width: 100%;
      margin: auto;
      background: linear-gradient(to right, #e97c29 12%, #fcbc46 100%);
      height: 5px;
    }
    .content-wrapper{
      width: 100%;
      margin:auto;
      background: linear-gradient(to right, #e97c29 12%, #fcbc46 100%);
      clip-path: polygon(34% 0, 66% 0, 65% 70%, 35% 70%);
      padding: 1px;
      .section-title{
        width: 100%;
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto 30px;
        text-align: center;
        padding: 4px 8px 4px 18px;
        position: relative;
      }
    }
  }
  .container{
    max-width: 830px;
    .form-container{
      width: 100%;
      margin: 0 auto;
      border: solid 3px #ffc03f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 20px solid #ffc03f;
      padding: 10px 40px 40px 40px;
      margin-bottom: 50px;
      .form{
        margin-top: 8px;
        padding: 0 12px 0 12px;
        display: flex;
        justify-content: space-between;
        .label{
          padding: 0 0 0 8px;
          font-size: 14px;
          font-weight: 600;
          color: #666666;
        }
        .input{
          max-width: 250px;
          input:focus, input[type]:focus, .uneditable-input:focus {   
            border-color: #FFC03F;
            outline: 0 none;
          }
          .input-form{
            width: 100%;
            padding: 3px 5px 5px 8px;
            color: #666666;
            border: 1px solid #ccc;
            background: #ffffff;
          }
          .text-under-input{
            font-size: 12px;
            font-weight: 600;
            color: #666666;
          }
        }
        .btn-calculate{
          .btn{
            &.btn-primary{
              border-radius: 5px;
              padding: 5px 8px;
              font-size: 16px;
              background: #147ec5;
              color: #ffffff;
            }
          }
        }
      }
    }
    .title-table p{
      background: #fbb33b;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 5px;
      margin-top: 28px;
      margin-bottom: 0;
    }

    .tables{
      .some-overflow{
        .table{
          width: 100%;
          .firts-row{
            padding: 0 0 0 8px;
            padding-bottom: 5px;
            border-bottom: 1px solid #ffc03f;
            text-align: center;
            color: #666666;
            font: 12px EvaPro, Trebuchet MS, sans-serif;  
            font-weight: 600;
            line-height: 20px;
            &.td-blank{
              width: 40%;
            }
            &.td-distribution{
              width: 20%;
              text-align: center;
              
            }
            &.td-blank-total{
              width: 20%;
            }
          }
          .table-header{
            background: #147ec5;
            border-bottom: 1px solid #ffc03f;
            border-top: 1px solid #ffc03f;
            padding: 0 0 0 8px;
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            &.th-blank{
              width: 40%;
            }
            &.th-pension{
              width: 20%;
            }
            &.th-total{
              width: 20%;
            }
          }
          .table-content{
            color: #666666;
            padding: 2px 0 2px 8px;
            border-bottom: 1px solid #ffc03f;
            font-size: 14px;
            font-weight: 600;
            &.td-content-pension{
              text-align: center;
            }
            &.td-content-total{
              text-align: center;
            }
          }
        }
      }
      .table-distribution{
        margin-top: 26px;
        width: 100%;
        .table-header{
          background: #147ec5;
          border-bottom: 1px solid #ffc03f;
          border-top: 1px solid #ffc03f;
          padding: 0 0 0 8px;
          text-align: center;
          color: #fbb33b;
          font-size: 12px;
          font-weight: bold;
          line-height: 20px;
          &.th-blank{
            width: 40%;
          }
          &.th-pension{
            width: 20%;
          }
          &.th-total{
            width: 15%;
          }
        }
        .table-content{
          color: #666666;
          padding: 2px 0 2px 8px;
          border-bottom: 1px solid #ffc03f;
          font: 12px EvaPro, Trebuchet MS, sans-serif;  
          font-weight: 600;
          &.td-content-pension{
            text-align: center;
          }
          &.td-content-total{
            background: #fbb33b;
            color: #ffffff;
            font-weight: bold;
            padding: 5px;
            text-align: right;
            text-align: center;
          }
        }
        .table-content-second{
          color: #666666;
          padding: 6px 0 6px 8px;
          border-bottom: 1px solid #ffc03f;
          font: 12px EvaPro, Trebuchet MS, sans-serif;  
          font-weight: 600;
          &.td-content-blank{
            width: 40%;
          }
          &.td-content-pension{
            text-align: center;
            width: 20%;
          }
          &.td-content-total{
            background: #fbb33b;
            color: #ffffff;
            font-weight: bold;
            padding: 5px;
            text-align: right;
          }
        }
      }
    }
    .note{
      border: solid 1px #ffc03f;
      border-left: 0;
      border-right: 0;
      margin-top: 25px;
      font-weight: 600;
      text-align: justify;
      font-style: normal;
      color: #147ec5;
      font-size: 13px;
      line-height: 16px;
      background: #eee;
      padding: 10px 10px 1px 10px;
    }

    .text{
      margin-top: 20px;
      color: #666666;
      padding: 0 0 0 8px;
      text-align: justify;
      font: 14px EvaPro, Trebuchet MS, sans-serif;      
      line-height: 25px;
    }

    .line-yellow{
      margin-top: 40px;
      border-bottom: 1px solid #ffc03f;
    }

    .button-menu{
      text-align: center;
      .btn-menu{
        font-weight: bold;
        padding: 5px 8px;
        font-size: 16px;
        margin-top: 8px;
        background: #147ec5;
        color: #ffffff;
        border: none;
        border-radius: 5px;
      }
    }

  }
}

@media only screen and (max-width:470px){
  .contribution-calculator{
    .container{
      .tables{
        .some-overflow{
          overflow-x: scroll;
        }
      }
    }
  }
}

@media only screen and (max-width:720px){
  .contribution-calculator{
    .form-container{
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .label{
          text-align: center;
        }
        .input{
          .text-under-input{
            text-align: center;
          }
        }
        .btn-calculate{
          .btn{
            &.btn-primary{
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}