@import "system";

.contribution-calculator {
  .container{
    max-width: 830px;
    margin-top: 30px;
    .form-container{
      width: 100%;
      margin: 0 auto;
      border: solid 3px $primary;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 20px solid $primary;
      padding: 10px 40px 40px 40px;
      margin-bottom: 50px;
      .form{
        margin-top: 8px;
        padding: 0 12px 0 12px;
        display: flex;
        justify-content: space-between;
        .label{
          padding: 0 0 0 8px;
          font-size: 14px;
          font-weight: 600;
          color: $accent;
        }
      }
    }
    .title-table p{
      background: $primary-secundary;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding: 5px;
      margin-top: 28px;
      margin-bottom: 0;
    }

    .tables{
      .table{
        width: 100%;
        .firts-row{
          padding: 0 0 0 8px;
          padding-bottom: 5px;
          border-bottom: 1px solid $primary;
          text-align: center;
          color: $accent;
          font: 12px EvaPro, Trebuchet MS, sans-serif;  
          font-weight: 600;
          line-height: 20px;
          &.td-blank{
            width: 40%;
          }
          &.td-distribution{
            width: 20%;
            text-align: center;
            
          }
          &.td-blank-total{
            width: 20%;
          }
        }
        .table-header{
          background: $secundary;
          border-bottom: 1px solid $primary;
          border-top: 1px solid $primary;
          padding: 0 0 0 8px;
          text-align: center;
          color: #ffffff;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          &.th-blank{
            width: 40%;
          }
          &.th-pension{
            width: 20%;
          }
          &.th-total{
            width: 20%;
          }
        }
        .table-content{
          color: $accent;
          padding: 2px 0 2px 8px;
          border-bottom: 1px solid $primary;
          font-size: 14px;
          font-weight: 600;
          &.td-content-pension{
            text-align: center;
          }
          &.td-content-total{
            text-align: center;
          }
        }
      }
      .table-distribution{
        margin-top: 26px;
        width: 100%;
        .table-header{
          background: $secundary;
          border-bottom: 1px solid $primary;
          border-top: 1px solid $primary;
          padding: 0 0 0 8px;
          text-align: center;
          color: $primary-secundary;
          font-size: 12px;
          font-weight: bold;
          line-height: 20px;
          &.th-blank{
            width: 40%;
          }
          &.th-pension{
            width: 20%;
          }
          &.th-total{
            width: 15%;
          }
        }
        .table-content{
          color: #666666;
          padding: 2px 0 2px 8px;
          border-bottom: 1px solid $primary;
          font: 12px EvaPro, Trebuchet MS, sans-serif;  
          font-weight: 600;
          &.td-content-pension{
            text-align: center;
          }
          &.td-content-total{
            background: $primary-secundary;
            color: #ffffff;
            font-weight: bold;
            padding: 5px;
            text-align: right;
            text-align: center;
          }
        }
        .table-content-second{
          color: $accent;
          padding: 6px 0 6px 8px;
          border-bottom: 1px solid $primary;
          font: 12px EvaPro, Trebuchet MS, sans-serif;  
          font-weight: 600;
          &.td-content-blank{
            width: 40%;
          }
          &.td-content-pension{
            text-align: center;
            width: 20%;
          }
          &.td-content-total{
            background: $primary-secundary;
            color: #ffffff;
            font-weight: bold;
            padding: 5px;
            text-align: right;
          }
        }
      }
    }
    .note{
      border: solid 1px $primary;
      border-left: 0;
      border-right: 0;
      margin-top: 25px;
      font-weight: 600;
      text-align: justify;
      font-style: normal;
      color: $secundary;
      font-size: 13px;
      line-height: 16px;
      background: #eee;
      padding: 10px 10px 1px 10px;
    }

    .text{
      margin-top: 20px;
      color: $accent;
      padding: 0 0 0 8px;
      text-align: justify;
      font: 14px EvaPro, Trebuchet MS, sans-serif;      
      line-height: 25px;
    }

    .line-yellow{
      margin-top: 40px;
      border-bottom: 1px solid $primary;
    }
  }
}

@media only screen and (max-width:720px){
  .contribution-calculator{
    .form-container{
      .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .label{
          text-align: center;
        }
        .input{
          .text-under-input{
            text-align: center;
          }
        }
        .btn-calculate{
          .btn{
            &.btn-primary{
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:470px){
  .contribution-calculator{
    .container{
      .tables{
        .some-overflow{
          overflow-x: scroll;
        }
      }
    }
  }
}
