@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap");
.buttons {
  margin-top: 10px;
  text-align: center;
}
.buttons .btn {
  font-weight: bold;
  padding: 5px 8px;
  font-size: 14px;
  margin-top: 8px;
  background: #147ec5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.input-form input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #ffc03f;
  outline: 0 none;
}

.input-form {
  width: 150px;
  padding: 3px 5px 5px 8px;
  color: #666666;
  border: 1px solid #ccc;
  background: #ffffff;
}

.validation-error-input {
  background: #f8dbdb;
  border-color: #e77776;
}

.pension-calculator .container {
  max-width: 830px;
  margin-top: 30px;
}
.pension-calculator .container .form-container {
  width: 100%;
  margin: 0 auto 50px;
  border: solid 3px #ffc03f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 20px solid #ffc03f;
  padding: 10px 40px 40px 40px;
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-size: 15px;
  text-align: left;
  border-collapse: collapse;
}
.pension-calculator .container .form-container .tab-content .calculate-content .message-validations p {
  color: red;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: EvaPro Bold;
  border-bottom: 1px solid #ffc03f;
  color: #808285;
  padding: 8px 0 8px 0;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .box-icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-family: EvaPro Bold;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .box-icon-text .text {
  margin-top: 10px;
  margin-left: 10px;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .genre-radio-button {
  padding: 0 8px 0 8px;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .genre-radio-button .sex_radio {
  margin: 0 8px 0 8px;
}
.pension-calculator .container .form-container .tab-content .important-information-content {
  margin-top: 60px;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information {
  font-family: EvaPro Bold;
  color: #808285;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information .title {
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 2px;
  font-weight: 800;
  color: inherit;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information .text-description {
  font-size: 18px;
  font-weight: 500;
}
.pension-calculator .container .tabs {
  max-width: 780px;
}
.pension-calculator .container .tabs .nav {
  margin-bottom: -5px;
  list-style: none;
  display: flex;
  width: 100%;
  margin: auto;
  padding: unset;
}
.pension-calculator .container .tabs .nav .tab {
  background: none;
}
.pension-calculator .container .tabs .nav .tab.nav-calculate {
  margin: 0 -30px -2px 0;
}
.pension-calculator .container .tabs .nav .tab.nav-result {
  margin-bottom: -2px;
}
.pension-calculator .container .tabs .nav .tab.nav-important {
  margin-bottom: -2px;
  margin-left: -19px;
}

/*# sourceMappingURL=style.css.map */
