@font-face {
  font-family: evaNormal;
  src: url(../assets/fonts/EvaPro-Normal.otf);
}
@font-face {
  font-family: evaSemiBold;
  src: url(../assets/fonts/EvaPro-SemiBold.otf);
}
@font-face {
  font-family: evaBold;
  src: url(../assets/fonts/EvaPro-Bold.otf);
}
@font-face {
  font-family: evaBlack;
  src: url(../assets/fonts/EvaPro-Bold.otf);
}
h2 {
  font-size: 36px;
  font-family: evaBold;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.buttons {
  margin-top: 10px;
  text-align: center;
}
.buttons .btn {
  font-weight: bold;
  padding: 5px 8px;
  font-size: 14px;
  margin-top: 8px;
  background: #147ec5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.input-form input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #ffc03f;
  outline: 0 none;
}

.input-form {
  width: 150px;
  padding: 3px 5px 5px 8px;
  color: #666666;
  border: 1px solid #ccc;
  background: #ffffff;
}

.validation-error-input {
  background: #f8dbdb;
  border-color: #e77776;
}

.pension-calculator .buttons {
  margin-top: 10px;
  text-align: center;
}
.pension-calculator .buttons .btn {
  font-weight: bold;
  padding: 5px 8px;
  font-size: 14px;
  margin-top: 8px;
  background: #147ec5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.pension-calculator .container {
  max-width: 830px;
  margin-top: 30px;
}
.pension-calculator .container .form-container {
  width: 100%;
  margin: 0 auto 50px;
  border: solid 3px #ffc03f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 20px solid #ffc03f;
  padding: 10px 40px 40px 40px;
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-size: 15px;
  text-align: left;
  border-collapse: collapse;
}
.pension-calculator .container .form-container .tab-content .calculate-content .message-validations p {
  color: Red;
  font-size: 12px;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box {
  display: flex;
  align-items: baseline;
  font-family: evaBold;
  border-bottom: 1px solid #ffc03f;
  color: #808285;
  padding: 8px 0 8px 0;
  justify-content: space-between;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: evaBold;
  max-width: 679px;
  width: 100%;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input .text {
  margin-top: 10px;
  margin-left: 10px;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .genre-radio-button {
  padding: 0 8px 0 8px;
}
.pension-calculator .container .form-container .tab-content .calculate-content .box .genre-radio-button .sex_radio {
  margin: 0 8px 0 8px;
}
.pension-calculator .container .form-container .tab-content .important-information-content {
  margin-top: 60px;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information {
  color: #808285;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information .title {
  font-family: evaBold;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 2px;
  font-weight: 800;
  color: inherit;
}
.pension-calculator .container .form-container .tab-content .important-information-content .text-information .text-description {
  font-size: 15px;
  font-weight: 501;
  font-weight: evaBlack;
}
.pension-calculator .container .tabs {
  max-width: 780px;
}
.pension-calculator .container .tabs .nav {
  margin-bottom: -5px;
  list-style: none;
  display: flex;
  width: 100%;
  margin: auto;
  padding: unset;
}
.pension-calculator .container .tabs .nav .tab {
  background: none;
}
.pension-calculator .container .tabs .nav .tab.nav-calculate {
  margin: 0 -30px -2px 0;
}
.pension-calculator .container .tabs .nav .tab.nav-result {
  margin-bottom: -2px;
}
.pension-calculator .container .tabs .nav .tab.nav-important {
  margin-bottom: -2px;
  margin-left: -19px;
}

@media only screen and (max-width: 515px) {
  .pension-calculator .container .form-container {
    padding: 10px 20px 40px 20px;
  }
  .pension-calculator .container .form-container .tab-content .calculate-content .box {
    margin-top: 10px;
    align-items: center;
  }
  .pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input {
    margin-left: 10px;
    flex-direction: column;
    margin-right: 20px;
    width: 80%;
  }
  .pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input .text {
    margin: 0 0 10px 0;
  }
  .pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input .input-form {
    width: 100%;
  }
  .pension-calculator .container .form-container .tab-content .important-information-content {
    margin-top: 60px;
  }
  .pension-calculator .container .form-container .tab-content .important-information-content .text-information {
    color: #808285;
  }
  .pension-calculator .container .form-container .tab-content .important-information-content .text-information .title {
    font-family: evaBold;
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 2px;
    font-weight: 800;
    color: inherit;
    text-align: center;
  }
  .pension-calculator .container .form-container .tab-content .important-information-content .text-information .text-description {
    font-size: 15px;
    font-weight: 501;
    font-weight: evaBlack;
  }
}
@media only screen and (max-width: 375px) {
  .pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input {
    width: 100%;
    margin-right: 0;
  }
  .pension-calculator .container .form-container .tab-content .calculate-content .box .box-text-input .text {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
