@import "system";

.pension-calculator {
  .buttons{
    margin-top: 10px;
    text-align: center;
    .btn{
      font-weight: bold;
      padding: 5px 8px;
      font-size: 14px;
      margin-top: 8px;
      background: $secundary;
      color: #ffffff;
      border: none;
      border-radius: 5px;
    }
  }

  .container{
    max-width: 830px;
    margin-top: 30px;
    .form-container{
      width: 100%;
      margin: 0 auto 50px;
      border: solid 3px $primary;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 20px solid $primary;
      padding: 10px 40px 40px 40px;
      font-family: 'IBM Plex Sans Devanagari', sans-serif;
      font-size: 15px;
      text-align: left;
      border-collapse: collapse;

      .tab-content{
        .calculate-content{
          .box{
            display: flex;
            align-items: baseline;
            font-family: evaBold;
            border-bottom: 1px solid $primary;
            color: $accent;
            padding: 8px 0 8px 0;
            justify-content: space-between;
            .box-text-input{
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              font-family: evaBold;
              max-width: 679px;
              width: 100%;
              .text{
                margin-top: 10px;
                margin-left: 10px;
              }
            }
            .genre-radio-button{
              padding: 0 8px 0 8px;
              .sex_radio{
                margin: 0 8px 0 8px;
              }
            }
          }

        }
        .important-information-content{
          margin-top: 60px;
          .text-information{
            color: $accent;
            .title{
              font-family: evaBold;
              font-size: 23px;
              margin-top: 30px;
              margin-bottom: 2px;
              font-weight: 800;
              color: inherit;
            }
            .text-description{
              font-size: 15px;
              font-weight: 501;
              font-weight: evaBlack;
            }
          }
        }
      }
    }
    .tabs{
      max-width: 780px;
      .nav{
        margin-bottom: -5px;
        list-style: none;
        display: flex;
        width: 100%;
        margin: auto;
        padding: unset;
        .tab{
          background:none; 
          &.nav-calculate{
            margin:0 -30px -2px 0;
          }
          &.nav-result{
            margin-bottom:-2px;
          }
          &.nav-important{
            margin-bottom:-2px; 
            margin-left:-19px;
          }
        }

      }
    }
  }
}

@media only screen and (max-width:515px){
  .pension-calculator{
    .container{
      .form-container{
        padding: 10px 20px 40px 20px;
        .tab-content{
          .calculate-content{
            .box{
              margin-top: 10px;
              align-items: center;
              .box-text-input{
                margin-left: 10px;
                flex-direction: column;
                margin-right: 20px;
                width: 80%;
                .text{
                  margin: 0 0 10px 0;
                }
                .input-form{
                  width: 100%;
                }
              }
            }
          }
          .important-information-content{
            margin-top: 60px;
            .text-information{
              color: $accent;
              .title{
                font-family: evaBold;
                font-size: 23px;
                margin-top: 30px;
                margin-bottom: 2px;
                font-weight: 800;
                color: inherit;
                text-align: center;
              }
              .text-description{
                font-size: 15px;
                font-weight: 501;
                font-weight: evaBlack;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:375px){
  .pension-calculator{
    .container{
      .form-container{
        .tab-content{
          .calculate-content{
            .box{
              .box-text-input{
                width: 100%;
                margin-right: 0;
                .text{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
