@import "system";

.pension-calculator {
  .container{
    max-width: 830px;
    margin-top: 30px;
    .form-container{
      width: 100%;
      margin: 0 auto 50px;
      border: solid 3px $primary;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top: 20px solid $primary;
      padding: 10px 40px 40px 40px;
      font-family: 'IBM Plex Sans Devanagari', sans-serif;
      font-size: 15px;
      text-align: left;
      border-collapse: collapse;

      .tab-content{
        .calculate-content{
          .message-validations{
            p{
              color: red;
            }
          }
          .box{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            font-family: EvaPro Bold;
            border-bottom: 1px solid $primary;
            color: $accent;
            padding: 8px 0 8px 0;
            .box-icon-text{
              display: flex;
              justify-content: flex-start;
              align-items: baseline;
              font-family: EvaPro Bold;
              .text{
                margin-top: 10px;
                margin-left: 10px;
              }
            }
            .genre-radio-button{
              padding: 0 8px 0 8px;
              .sex_radio{
                margin: 0 8px 0 8px;
              }
            }
          }

        }
        .important-information-content{
          margin-top: 60px;
          .text-information{
            font-family: EvaPro Bold;
            color: $accent;
            .title{
              font-size: 23px;
              margin-top: 30px;
              margin-bottom: 2px;
              font-weight: 800;
              color: inherit;
            }
            .text-description{
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .tabs{
      max-width: 780px;
      .nav{
        margin-bottom: -5px;
        list-style: none;
        display: flex;
        width: 100%;
        margin: auto;
        padding: unset;
        .tab{
          background:none; 
          &.nav-calculate{
            margin:0 -30px -2px 0;
          }
          &.nav-result{
            margin-bottom:-2px;
          }
          &.nav-important{
            margin-bottom:-2px; 
            margin-left:-19px;
          }
        }

      }
    }
  }
}
