.btn-calculate .btn.btn-primary {
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 16px;
  background: #147ec5;
  color: #ffffff;
}

.button-menu {
  text-align: center;
}
.button-menu .btn-menu {
  font-weight: bold;
  padding: 5px 8px;
  font-size: 16px;
  margin-top: 8px;
  background: #147ec5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.input {
  max-width: 250px;
}
.input input:focus, .input input[type]:focus, .input .uneditable-input:focus {
  border-color: #FFC03F;
  outline: 0 none;
}
.input .input-form {
  width: 100%;
  padding: 3px 5px 5px 8px;
  color: #666666;
  border: 1px solid #ccc;
  background: #ffffff;
}
.input .text-under-input {
  font-size: 12px;
  font-weight: 600;
  color: #666666;
}

.contribution-calculator .container {
  max-width: 830px;
  margin-top: 30px;
}
.contribution-calculator .container .form-container {
  width: 100%;
  margin: 0 auto;
  border: solid 3px #FFC03F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 20px solid #FFC03F;
  padding: 10px 40px 40px 40px;
  margin-bottom: 50px;
}
.contribution-calculator .container .form-container .form {
  margin-top: 8px;
  padding: 0 12px 0 12px;
  display: flex;
  justify-content: space-between;
}
.contribution-calculator .container .form-container .form .label {
  padding: 0 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
}
.contribution-calculator .container .title-table p {
  background: #fbb33b;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin-top: 28px;
  margin-bottom: 0;
}
.contribution-calculator .container .tables .table {
  width: 100%;
}
.contribution-calculator .container .tables .table .firts-row {
  padding: 0 0 0 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFC03F;
  text-align: center;
  color: #666666;
  font: 12px EvaPro, Trebuchet MS, sans-serif;
  font-weight: 600;
  line-height: 20px;
}
.contribution-calculator .container .tables .table .firts-row.td-blank {
  width: 40%;
}
.contribution-calculator .container .tables .table .firts-row.td-distribution {
  width: 20%;
  text-align: center;
}
.contribution-calculator .container .tables .table .firts-row.td-blank-total {
  width: 20%;
}
.contribution-calculator .container .tables .table .table-header {
  background: #147ec5;
  border-bottom: 1px solid #FFC03F;
  border-top: 1px solid #FFC03F;
  padding: 0 0 0 8px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.contribution-calculator .container .tables .table .table-header.th-blank {
  width: 40%;
}
.contribution-calculator .container .tables .table .table-header.th-pension {
  width: 20%;
}
.contribution-calculator .container .tables .table .table-header.th-total {
  width: 20%;
}
.contribution-calculator .container .tables .table .table-content {
  color: #666666;
  padding: 2px 0 2px 8px;
  border-bottom: 1px solid #FFC03F;
  font-size: 14px;
  font-weight: 600;
}
.contribution-calculator .container .tables .table .table-content.td-content-pension {
  text-align: center;
}
.contribution-calculator .container .tables .table .table-content.td-content-total {
  text-align: center;
}
.contribution-calculator .container .tables .table-distribution {
  margin-top: 26px;
  width: 100%;
}
.contribution-calculator .container .tables .table-distribution .table-header {
  background: #147ec5;
  border-bottom: 1px solid #FFC03F;
  border-top: 1px solid #FFC03F;
  padding: 0 0 0 8px;
  text-align: center;
  color: #fbb33b;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}
.contribution-calculator .container .tables .table-distribution .table-header.th-blank {
  width: 40%;
}
.contribution-calculator .container .tables .table-distribution .table-header.th-pension {
  width: 20%;
}
.contribution-calculator .container .tables .table-distribution .table-header.th-total {
  width: 15%;
}
.contribution-calculator .container .tables .table-distribution .table-content {
  color: #666666;
  padding: 2px 0 2px 8px;
  border-bottom: 1px solid #FFC03F;
  font: 12px EvaPro, Trebuchet MS, sans-serif;
  font-weight: 600;
}
.contribution-calculator .container .tables .table-distribution .table-content.td-content-pension {
  text-align: center;
}
.contribution-calculator .container .tables .table-distribution .table-content.td-content-total {
  background: #fbb33b;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  text-align: right;
  text-align: center;
}
.contribution-calculator .container .tables .table-distribution .table-content-second {
  color: #666666;
  padding: 6px 0 6px 8px;
  border-bottom: 1px solid #FFC03F;
  font: 12px EvaPro, Trebuchet MS, sans-serif;
  font-weight: 600;
}
.contribution-calculator .container .tables .table-distribution .table-content-second.td-content-blank {
  width: 40%;
}
.contribution-calculator .container .tables .table-distribution .table-content-second.td-content-pension {
  text-align: center;
  width: 20%;
}
.contribution-calculator .container .tables .table-distribution .table-content-second.td-content-total {
  background: #fbb33b;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  text-align: right;
}
.contribution-calculator .container .note {
  border: solid 1px #FFC03F;
  border-left: 0;
  border-right: 0;
  margin-top: 25px;
  font-weight: 600;
  text-align: justify;
  font-style: normal;
  color: #147ec5;
  font-size: 13px;
  line-height: 16px;
  background: #eee;
  padding: 10px 10px 1px 10px;
}
.contribution-calculator .container .text {
  margin-top: 20px;
  color: #666666;
  padding: 0 0 0 8px;
  text-align: justify;
  font: 14px EvaPro, Trebuchet MS, sans-serif;
  line-height: 25px;
}
.contribution-calculator .container .line-yellow {
  margin-top: 40px;
  border-bottom: 1px solid #FFC03F;
}

@media only screen and (max-width: 720px) {
  .contribution-calculator .form-container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contribution-calculator .form-container .form .label {
    text-align: center;
  }
  .contribution-calculator .form-container .form .input .text-under-input {
    text-align: center;
  }
  .contribution-calculator .form-container .form .btn-calculate .btn.btn-primary {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 470px) {
  .contribution-calculator .container .tables .some-overflow {
    overflow-x: scroll;
  }
}

/*# sourceMappingURL=style.css.map */
